<div class="row">
    <div class="col-sm-9 d-inline-flex gap-3">
        <h3>Movie</h3>
        <a href="/movie/add/" class="btn btn-outline-secondary">Create</a>
    </div>
    <div class="col-sm-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Movie</li>
            </ol>
        </nav>
    </div>
</div>

<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Year</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <% if (data.length === 0) { %>
            <tr>
                <th colspan="5">Data not available.</th>
            </tr>
        <% }else{ %>
        <% let i = 1 %>
        <% data.forEach(movie => { %>
            <tr>
                <th scope="row"><%= i++ %></th>
                <td><%= movie.title %></td>
                <td><%= movie.genres %></td>
                <td><%= movie.year %></td>
                <td class="d-inline-flex gap-2">
                    <a href="/movie/<%= movie.id %>" class="btn btn-outline-primary">Detail</a>
                    <a href="/movie/edit/<%= movie.id %>" class="btn btn-outline-warning">Edit</a>
                    <form action="/movie/<%= movie.id %>?METHOD=DELETE" method="post">
                        <input class="btn btn-outline-danger" type="submit" onclick="return(confirm('Are you sure want to delete this data?'))" value="Hapus">
                    </form>
                </td>
              </tr>
        <% })} %>
    </tbody>
  </table>
